.blocpage {
    /* border: 2px solid red; */
}

#news-form-bloc {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 80px 200px 40px 200px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#header-form {
    text-align: center;
    justify-content: center;
}

.elements-form {
    text-align: left;
    justify-content: left;
}

#button-form {
    text-align: center;
}

#button-form button {
    border: none;
    padding: 5px;
    color: white;
    background-color: #5f9bd4;
}

#button-form button:hover {
    background-color: #3577b4;
}