.blocpage {
    background-color: white;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

#summary ul {
    display: flex;
    flex-direction: row;
    position: fixed;
    text-align: center;
    list-style-type: none;
}

#summary a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0 20px 0 20px;
}

#title {
    text-align: center;
    font-style: normal;
    color: #220E0E;
}

#author {
    text-align: center;
    font-style: italic;
    color: #220E0E;
}

#newsPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.newsTitlePreview {
    color: black;
    text-align: center;
    justify-content: center;
}

.newsContentPreview {
    color: darkgray;
    text-align: left;
    justify-content: start;
}

.showNewsButton {
    border: 1px solid black;
    justify-content: end;
}

.newsTitle {
    color: black;
    text-align: center;
    justify-content: center;
}

.newsContent {
    color: black;
    text-align: justify;
    justify-content: center;
}