.blocpage {
    /* background-image: url("../image-fond"); */
}

#background-image {
    position: fixed; 
    top: 0; 
    left: 0; 
    /* min-width: 1349px; */
    min-height: 100%;
    width: 100%;
    height: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* Barre de navigation */
#summary ul {
    z-index: 100;
    display: flex;
    flex-direction: row;
    position: fixed;
    text-align: center;
    list-style-type: none;
    background-color: white;
    height: 45px;
    width: 105%;
    left: -40px;
}

#summary li {
    font-size: 20px;
    background-color: white;
    opacity: 80%;
    border: none;
}

#summary a {
    display: block;
    padding: 10px;
    height: 45px;
    text-decoration: none;
    color: black;
}

#summary a:hover {
    color: white;
    background-color: #2b5175;
}

#summary a:active {
    color: white;
    background-color: #2b5175;
}

#summary a:focus {
    color: black;
    background-color: #2b5175;
}

#last-episodes {
    margin-right: 350px;
}

#register, #connection, #logout, #site-search {
    margin: 5px 6px;
    border-radius: 10px;
} 

#register, #connection, #logout {
    border: none;
    color: white;
    background-color: #294f73;
}

#register:hover, #connection:hover, #logout:hover {
    background-color: #203e5b;
}

/* Header : titre et auteur */
#title-framed {
    border: 4px solid white;
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 135px;
    user-select: none;
}

#title {
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: white;
}

#author {
    text-align: center;
    font-style: italic;
    font-size: medium;
    color: white;
}

/* Section aperçu des épisodes */
#news-preview-bloc {
    margin-top: 200px;
}

#news-preview {
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    cursor: pointer;
    height: 400px;
    margin: 60px;
    overflow: hidden;
}

#news-preview:hover {
    opacity: 90%;
}

.newsTitlePreview {
    color: black;
    text-align: center;
    overflow: hidden;
}

.newsContentPreview {
    color: black;
    opacity: 80%;
    text-align: left;
    justify-content: start;
    overflow: hidden;
    margin: 50px 10px;
}

.newsTitle {
    color: black;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.newsContent {
    color: black;
    background-color: white;
    text-align: justify;
    justify-content: center;
}

/* Footer : Pagination */
#next-page {
    justify-content: center;
    z-index: 200;
}

#next-page ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

#next-page button {
    z-index: 200;
    color: black;
    background-color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
}

#next-page button:hover {
    font-weight: bold;
    background-color: #B1B1B1;
    color: white;
}

#next-page button:active {
    background-color: #C7C7C7;
    color: white;
}

#next-page button:focus {
    background-color: #B1B1B1;
    color: white;
}

/* Page Synopsis */
#synopsis-page {
    position: relative;
    text-align: center;
    margin: 0 50px;
}

#synopsis-content {
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#biography {
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    padding: 10px;
}